*{ margin: 0; 
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    color: #363958;
}
h2{
    font-size: 35px;
    text-align: center;
    color:#363958 ;
    
}
h3{
    font-size: 20px;
    color: white;
    margin-left: 10px;
}
p{
    line-height: 20px;
    color:#3E3E3E ;
    text-align: justify;
    margin-right: 10px;
}

.highlight{
    color: #FF8367;
}
.back{
    background: linear-gradient(45deg,#fff , #F9C3BB);
    height: 3000px;
    width: 100%;
}

.top-container{
    height: 1050px;
    width: 100%;
  
}

.half-area{
    width: 40%;
    float: left;
    height: 400px;
    margin-left: 10%;
    margin-top: 3%;
    line-height: 70px;
    margin-bottom: 5%;
    
}
.half-area img{
    height: 100%;
    
}
.button{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(45deg,#F7926E,#4F46CE);
    padding: 12px 25px;

}
.container-middle{
    height: 700px;
    width: 100%;
    background: #FEF8F7;
}


#for-margin{
    margin-left: 400px;
}
.area {
    height: 270px;
    width: 350px;
    float: left;
    margin-top: 50px;
    background-color: #F7926E;
    border-radius: 20px;
    margin-right: 30px;
    background-image: linear-gradient(45deg,#F7926E,#4F46CE);
    box-shadow: 10px 10px 40px gray;

}
.area img{
    height: 150px;
    width: 300px;
    margin-left: 25px;
    margin-top: 20px;
}
.area a{
    text-decoration: none;
}
.area p{
    margin-left: 10px;
    color: white;
}
.bottom-container{

    height: 500px;
    width: 100%;
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px 220px;
     
   
} 
.bottom-container p{
    text-align: center;
    padding-top: 240px;
    padding-right: 500px;
    color: white;
    font-size: 59px;
}
.inquiry {
    float: left;
    width: 50%;
    height: 380px;
}
.inquiry h1{
    color: white;
    font-size: 50px;
    margin-left: 500px;
    margin-top: 210px;
    margin-right: 0px
}
.chat{
    float: right;
    width: 37%;
    height: 140px;
    margin-top: 240px;
}

.text{
    float: left;
    margin-top: 40px;
    height: 150px;
    width: 100%;
}

.text p{
    color: black;
    margin-top: -180px;
    float: left;
    margin-left: 45%;
    font-size: 30px;
    margin-bottom: 45px;
}

.text h3{
    margin-left: 4%;
    color: #363958;
    text-align: center;
    padding-bottom: 25px;
    padding-right: 50px;
}
 
.icon{
 
    height: 50px;
    float: left;
    margin-top: 80px;
    align-items: center;
    padding-left: 44%;

}
.iconShape{

    height: 80%;
    padding: 25px;
}
.last-container{
   
    float: left;
    height: 500px;
    width: 100%;
    margin-top: 50px;
    
}
.greeting h1{
    text-align: center;
    padding-top: 110px;
    font-size: 150px;
}
.greeting h3{
    color:#363958;
    font-size: 60px;
    text-align: center;
}